<div ng-controller='volcanoController'>
  <div id = 'homeScreen'>
    <h1>Frustrated evil genius? Noisy neighbors constantly distracting you from your evil plans? Astronomical rents in the city limiting your options? Now there’s a solution!</h1>

    <h1><strong>Rent-a-volcano</strong></h1>

  </div>

<!--      <div class="container">
      <h3>Add a new volano</h3>
      <form>
        Img: <input type='text' ng-model='newVolcano.img'><br>
        Name: <input type='text' ng-model='newVolcano.name'><br>
        Description: <input type='text' ng-model='newVolcano.description'><br>
        Price: <input type='text' ng-model='newVolcano.price'><br>
        Features: <input type='text' ng-model='newVolcano.features'><br>



        <input type='submit' value='Add new Volcano' ng-click='addStudent()'>
      </form><br><br> 

    </div> -->
	<button id = 'enter' ng-click="go('/volcanoList')" >Enter</button>

</div>



    