/*index page*/
#header{
	height: 70px;
	width: 99%;
	position: absolute;
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	color: white;
    text-shadow: 2px 2px 5px red;
    background-color: #ffd633;
    box-shadow: 10px 10px 5px grey;
    margin: 0 auto;
}

#header a{
	text-decoration: none;
	color: #ffff4d;
}

#header a:hover {
    color: #ff33ff;
}

/*home page*/
body{
    background-image: url("../images/giphy.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-color: orange;
}
#homeScreen{
    padding-top: 10%;
    text-align: center;
    font-size: 25px;
    color: white;
}

#enter{
    width: 22%;
    height:17%;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 40%;
}

/*table page*/
#table{
    padding-top: 10%;
}
table{
/*	width: 80%;
*/	margin: 0 auto;
}
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
    font-size: 35px;
    color: white;
}
/*tr:nth-child(even) {background-color: #f2f2f2}
*/
tr:hover {
    background-color: #ff9933;
    color: black;
}

#mi{
    background-color: green;
    color: white;
    height: 45px;
    width: 170px;
    border-radius: 20px;
    font-size: 18px;
}
/*rent page*/
#rent{
    padding-top: 40px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px red;
    margin-left: 25%;
}
#blockOne{
     margin-top: 90px;
}
.block{
    height: 10%;
}
.block button{
  margin-bottom: 90px;
}
#rentTable table{
    width: 45%;
    padding-top: 400px;
}
#rentTable tr{
    display: block;
}

/*Popup*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  margin-top: 45%;
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  margin-top: 45%;
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  background-image: url("../images/rabbit.gif");
  background-repeat: no-repeat;
  background-position: right left;
  padding:100px;
  font-size: 100px;
  text-align: center;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


